<div class="col-lg-3 col-md-4 col-xs-6">
	<%= link_to [event,photo_event], {:style=>"position: absolute;margin-left: 80%; font-size:1.5em; color:#cc0000; text-shadow:2px 2px 4px rgba(0, 0, 0, 0.9)", method: :delete, data: { confirm: 'Tem a certeza?'} } do %>
                <i class="fa fa-times"> </i>
	<% end %>
	<%= image_tag photo_event.photo.url(:small,false) , { style: "width: 100%;" } %>
</div>


