
<div class="item">
	 <%= image_tag photo_attraction.photo.url(:medium,false) , { style: "text-align:center; vertical-align:middle; height:250px; width: 100%;" } %>
	<div class="carousel-caption"></div>
</div>
