 <%= stylesheet_link_tag "pricing_table" %>
<div class="featurette">
    <div class="page-header">
        <h1>
            CityRoots
          <small>
            Feel each place
          </small>
        </h1>
    </div>
    <%= image_tag 'Index/Logo.png', :class=>"featurette-image pull-left" , :style=>"width:30%;height:60%;"%>
    <div class="page-article">
      <p class="lead muted">
        A aplicação CityRoots oferece aos turistas nacionais e internacionais que pretendam conhecer Portugal um acesso rápido e fácil às raízes das nossas cidades, com a informação do que melhor e mais característico elas têm para lhes oferecer.
      </p>
      <br/>
      <br/>
      <div class="page-header" style="border-bottom: none;">
        <h1><small>Conteúdos em que pode confiar</small></h1>
      </div>
      <p class="lead">
        Por valorizarmos a qualidade e a credibilidade das fontes de informação, procuramos estabelecer parcerias com câmaras municipais, postos de turismo, teatros, museus e outras instituições culturais. Desta forma, disponibilizamos conteúdos confiáveis, completos, atualizados e classificados pelos próprios turistas.
      </p>
      <br/>
      <br/>
    </div>


    <h4 class="muted">Ondes as raízes nascem...</h4>
    <p class="lead">
            Uma das nossas missões é chegar às cidades mais pequenas e vilas de interesse turístico, cujas raízes patrimoniais e culturais não são devidamente divulgadas.
    </p>
    <h5 class="text-center">
            Não deixe o melhor por conhecer e sentir!
    </h5>
    <h5 class="text-center">
            Não perca os melhores eventos!
    </h5>
    <h5 class="text-center">
            Crie os seus planos de visita!
    </h5>
    <h5 class="text-center">
                Consulte conteúdos e mapas sem acesso à internet!
        </h5>
        <h5 class="text-center">
                Saiba o que se passa à sua volta e como chegar através da integração com GPS! Informação confiável e avaliada pelos próprios utilizadores!
        </h5>
        <h5 class="text-center">
                Suporte a diversos idiomas!
    </h5>
    <h5 class="text-center">
            <b><i>Divulgue o seu negócio! - restauração, hotelaria, lojas, lazer, diversão noturna, etc.</i></b>
    </h5>
</div>
