<p class="fields">
<% "-----" +f.object.photo.inspect + "-------"%>
<% if  f.object.photo.blank? %>
<a class='btn btn-primary' href='javascript:;'>
	Adicionar Foto
	<%= f.file_field :photo%>
</a>
<% else %>
	<%= image_tag f.object.photo.url(:thumb,false) %>
<% end %>
<%= link_to_remove_fields "remove", f %>