<p class="fields">
<% "-----" +f.object.image.inspect + "-------"%>
<% if  f.object.image.blank? %>
<span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <%= f.file_field :image%>
        </span>

<% else %>
	<%= image_tag f.object.image.url(:thumb,false) %>
<% end %>
<%= link_to_remove_fields "remove", f %>