
/************************ Colors ************************/
$color1: #34495e;
$color2: #4f6f8f;

/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
footer {
  padding: 30px 0;
}
a:hover, a:focus{
  text-decoration: none;
}
h1{
  font-size: 50px;
  text-align: center;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: fixed;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/************************ TOP Bar ************************/


.dropdown-menu>li>a{
  text-align: left;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-collapse{
  border-right: 1px solid $color1; /*#19b698;*/
  background: $color2; /*#16A085;*/
  color: #fff;
  min-width: 100px;
  text-align: center;
}
.navbar-inverse .navbar-nav>.first>a{
  border-left: 1px solid $color1; /*#19b698;*/
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
  background: $color1; /*#19b698;*/
}
.navbar-inverse .navbar-nav>.dropdown>a .caret{
  border-top-color:#fff;
  border-bottom-color:#fff;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
  background: $color1; /*#19b698;*/
}
.list-group{
  /*border: 1px solid #999;*/
  border-left: 0;
}
.navbar-header{
  background: $color2; /*#16A085;*/
  max-height: 50px;
}
.navbar-inverse .navbar-brand{
  color: #000;
}

#sidebar{
  height: 100%; 
  margin-top:30px;
  padding: 0px
  }
.navbar-inverse{
    border: 0;
}
 

#body-page{
    background: #f5f5f5;
    margin-top:-20px;
    padding-top: 50px;
    min-height: 100%;

}

body{
  background: #f5f5f5;
}

.center_body{
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    background: #fff;
    min-height:100%;
}




/************************ Side Bar ************************/
ul
{
margin:0px;
padding:0px;
list-style-type:none;
-webkit-backface-visibility: hidden; backface-visibility: hidden;  
}
.var_nav
{
position:relative;
background:#ccc; 
height:60px;
margin-bottom:5px;
}
.link_bg
{
 width:70px;
 height:60px;
 position:absolute;
 background:$color2; /*#16A085;*/
 color:#fff;
 z-index:2;
}
.link_bg i
{
 position:relative;
}
.link_title
{
position:absolute;
width:100%;
z-index:3;
color:#fff;
}
.link_title:hover .icon
{
/*-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);  */
}


.var_nav:hover .link_bg
{
width:100%;
background: $color2; /*#16A085;*/
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav:hover a
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}
.var_nav .icon
{
position:relative;
width:70px;
height:70px;
text-align:center;
color:#fff;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;   
float:left;  
}
.var_nav .icon i{
  top:22px;
  position:relative;
}

.var_nav a{
display:block;
position:absolute;
float:left;
font-family:arial;
color:#fff;
text-decoration:none;
text-align:left;
margin-left: 80px;
}
.var_nav span{
margin-top:20px;
display:block;
}




/******************************* Breadcrumb ********************************/

#breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #4d4d4d;
  display: block;
  background: #a6a6a6;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #e6e6e6;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #e6e6e6;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #e6e6e6;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #a6a6a6;
  border-width: 15px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #a6a6a6;
}
#breadcrumb li a:hover {
  background-color: #bfbfbf;
}
#breadcrumb li a:hover:before {
  border-color: #bfbfbf;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #bfbfbf;
}
#breadcrumb li a:active {
  background-color: #e6e6e6;
}
#breadcrumb li.active a:hover, 
#breadcrumb li.active a:active:hover,

{
    background-color: #ccc;
}
#breadcrumb li a:active:before {
  border-color: #e6e6e6;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #e6e6e6;
}


.glyphicon { margin-right:5px;}
.section-box { margin-top:0px; text-align:justify;}
.glyphicon-star { color:#ffbf00;}
.glyphicon-star-empty {color:#ffbf00}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}