
/************************ Colors ************************/
$color1: #34495e;
$color2: #4f6f8f;

/*
 * Style tweaks
 * --------------------------------------------------
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Doppio+One);


h1,h2,h3,h4,h5,h6 {
  font-family: 'Doppio One', sans-serif;
  font-weight: normal;
}
h1.title {
  color: #fff;
  font-size: 50px;
  line-height: normal;
  text-shadow: 0 0 5px #000;
  margin-bottom: 50px;
}
html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 30px;
  background: #f2f2f2;
}

footer {
  padding: 30px 0;
}
a:hover, a:focus{
  text-decoration: none;
}
form{
  margin-left:20px;
}
.form-horizontal .control-label{
  
}
.well{
  background: #fff;
  border-color: #d0e4ef;
}
.well-large{
  padding:24px;
}

.btn-default{
  background: #ccc;
  border: 0;
}
.jumbotron{
  background: #e7e7e7;
  padding: 30px;  
  padding-top: 15px;
}
.page-header{
  border: 0;
  margin-top: 0;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: fixed;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/************************ TOP Bar ************************/


.dropdown-menu>li>a{
  text-align: left;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-collapse{
  /*border-right: 1px solid $color1; #19b698;*/
  background: $color2; /*#16A085;*/
  color: #fff;
  min-width: 100px;
  text-align: center;
}
.navbar-inverse .navbar-nav>.first>a{
  border-left: 1px solid $color1; /*#19b698;*/
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
  background: $color1; /*#19b698;*/
}
.navbar-inverse .navbar-nav>.dropdown>a .caret{
  border-top-color:#fff;
  border-bottom-color:#fff;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
  background: $color1; /*#19b698;*/
}
.list-group{
  /*border: 1px solid #999;*/
  border-left: 0;
}
.navbar-header{
  background: $color2; /*#16A085;*/
  max-height: 50px;
}
.navbar-inverse .navbar-brand{
  color: #000;
}

#sidebar{
  height: 100%; 
  margin-top:30px;
  padding: 0px
  }
.navbar-inverse{
    border: 0;
}

#sidebar .active a{
  background: $color1;
}
#sidebar li {
  display:inherit;
}
#body-page{
    margin-top:-20px;
    min-height: 100%;

}

.center_body{
    margin-right: 15px;
    margin-top: 90px;
    padding: 10px;
    min-height:100%;
}
.center_body h1{
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 38.5px;

}

.breadcrumb{
  margin: 0;
  background: #fff;
  margin-right: 15px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Doppio One', sans-serif;
  font-weight: normal;
  line-height:40px;
}

/************************ Side Bar ************************/
ul
{
margin:0px;
padding:0px;
list-style-type:none;

}
.var_nav
{
position:relative;
background:#ccc; 
height:55px;
margin-bottom:5px;
}

.sidebar{
  margin-top: 50px;
}
.sidebar a
{
  width:80px;
  height:60px;
  background: $color2;
  z-index:3;
  color:#fff;
  border: 0;
  margin-top: 5px;
  padding-left:10px;
  text-align: center;
 
}
.sidebar a.list-group-item:hover, .sidebar a.list-group-item:focus{
  background: $color1;
}
.sidebar a i
{
   font-size: 25px;
}


.var_nav:hover .link_bg
{
width:100%;
background: $color2; /*#16A085;*/
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav:hover a
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}
.var_nav .icon
{
position:relative;
width:50px;
height:50px;
text-align:center;
color:#fff;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;   
float:left;  
}
.var_nav .icon i{
  top:22px;
  position:relative;
}

.var_nav a{
display:block;
position:absolute;
float:left;
font-family:arial;
color:#fff;
text-decoration:none;
text-align:left;
margin-left: 60px;
}
.var_nav span{
margin-top:20px;
display:block;
}




.glyphicon { 
  margin-right:5px; 
  margin-left: 10px
}
.section-box { 
  margin-top:0px; 
  text-align:justify;
}
.glyphicon-star { color:#ffbf00;}
.glyphicon-star-empty {color:#ffbf00}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {
  margin-top: 0;
  margin-bottom: 5px;border: 0;
  border-top: 1px solid rgb(199, 199, 199);
}
hr {border-top: 1px solid rgb(199, 199, 199); }