


<div class="col-xs-12 col-md-3 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Básico</h3>
    </div>
    <div class="panel-body">
      <div class="the-price" style="height:76px;">
        <h1>Grátis</h1>
      </div>
       <table class="table">
        <tr>
          <td>
            Criação do seu perfil
          </td>
        </tr>
        <tr class="active">
          <td>
            Georeferênciação do estabelecimento
          </td>
        </tr>
        <tr>
          <td>
            Publicação de Fotos do estabelecimento
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <a href="#free" class="btn btn-primary" role="button">Detalhes</a>
    </div>
  </div>
</div>


<div class="col-xs-12 col-md-3 col-md-offset-2">
  <div class="panel panel-profissional">
        <div class="cnrflash">
      <div class="cnrflash-inner">
        <span class="cnrflash-label">1º Ano <br> Grátis</span>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title-profissional" >
        Premium</h3>
    </div>
    <div class="panel-body">
      <div class="the-price" style="height:76px;">
        <h1>
          €29,99<small>/ano</small></h1>
      </div>
      <table class="table">
        <tr>
          <td>
            Publicidade de Eventos
          </td>
        </tr>
        <tr class="active">
          <td>
            Destaque na aplicação Mobile
          </td>
        </tr>
        <tr>
          <td>
            Registo de vários estabelecimentos
          </td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
       <%= link_to "Subscrever" , new_payment_path, class: "btn btn-warning", style: "background:#B68C34"  %>
        <a href="#premium" class="btn btn-primary" role="button" style="margin-left:10px">Detalhes</a>
    </div>
  </div>
</div>