<<<<<<< HEAD
<style type="text/css">
	body
{
    margin-top: 20px;
}
.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.55em;
    font-weight: bold;
    text-align: center;
}
/*
----> Panel premium
*/
.panel-profissional {
  border-color: #B68C34;
}

.panel-profissional > .panel-heading {
  color: #B68C34;
  background-color: #B68C34;
  border-color: #B68C34;
}

.panel-profissional > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #B68C34;
}

.panel-profissional > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #B68C34;
}
.panel-title-profissional{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #FFFFFF;
}

/*
----> Panel free DB9370
*/
.panel-free {
  border-color: #A20795;
}

.panel-free > .panel-heading {
  color: #A20795;
  background-color: #A20795;
  border-color: #A20795;
}

.panel-free > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #A20795;
}

.panel-free > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #A20795;
}
.panel-title-free{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #FFFFFF;
}
</style>
<div class="container">
    <div class="row">
    	<h2>Os nossos pacotes...<h2>
        <div class="col-xs-12 col-md-3" >
            <div class="panel panel-free" style="height:374px;">
                <div class="panel-heading">
                    <h3 class="panel-title-free"> 
                        Free</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price" style="height:76px;">
                        <h1>
                            €0<small>/ano</small>
                        </h1>
                    </div>
                    <table class="table">
                        <tr style="height:61px;">
                            <td>
                                Criação do seu perfil 
                            </td>
                        </tr>
                        <tr class="active" style="height:61px;">
                            <td>
                                Georeferênciação do establecimento
                            </td>
                        </tr>
                        <tr style="height:61px;">
                            <td>
                                Foto da fachada do establecimento
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#free" class="btn btn-primary" role="button">Ver mais</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary" style="height:374px;">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">Mais
                            <br>
                            Popular</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Freemium</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price" style="height:76px;">
                        <h1>
                            €25<small>/ano</small>
                        </h1>
                    </div>
                    <table class="table">
                        <tr style="height:61px;">
                            <td>
                                Publicação de mais conteudo multimedia
                            </td>
                        </tr>
                        <tr class="active" style="height:61px;">
                            <td>
                                Publicação de produtos e serviços
                            </td>
                        </tr>
                        <tr style="height:61px;">
                            <td>
                                Publicação de promoções e eventos
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#freemium" class="btn btn-primary" role="button">Ver mais</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-profissional" style="height:374px;">
                <div class="panel-heading">
                    <h3 class="panel-title-profissional" >
                        Premium</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price" style="height:76px;">
                        <h1>
                            €50<small>/ano</small></h1>
                    </div>
                    <table class="table">
                        <tr style="height:61px;">
                            <td>
                                Fazer publicidade
                            </td>
                        </tr>
                        <tr class="active" style="height:61px;">
                            <td>
                                Dar destaque na aplicação Movel
                            </td>
                        </tr>
                        <tr style="height:61px;">
                            <td>
                                Estatisticas
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#premium" class="btn btn-primary" role="button">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<hr/>
<br/>
<div id="free">
	<h2>Pacote Free</h2>
    <p>
        Crie de uma forma simples, rápida e gratuita a sua própria página de perfil com a informação essencial sobre o seu negócio.
    <p/>
    <p>
        O CityRoots permite à milhões de turistas, através do seu smartphone, consultar os perfis dos melhores pontos de interesse de cada cidade, porque não o seu?
    <p/>
    <p>
        Para além de poder consultar as suas informações, os utilizadores do CityRoots podem deixar a sua apreciação pelos seus serviços e produtos e até publicar esses comentários nas diversas redes sociais elevando a notoriedade do seu negócio.
    <p/>
    <p>
        As diversas formas de divulgar o seu negócio e a sugestão de caminhos através de um mapa georreferenciado que permite localizar o seu estabelecimento levarão as pessoas até si.
    </p>
	<a href="#" class="btn btn-success" role="button">Assinar</a>
</div>
<br/>
<hr/>
<br/>
<div id="freemium">
	<h2>Pacote Freemium</h2>
    <p>
        Crie e gere a sua própria página de perfil e insira informações mais específicas sobre os seus produtos e serviços.
    <p/>
    <p>
        Insira conteúdos fotográficos para uma melhor perceção e apreciação dos cidadãos e turistas para incentiva-los a viajar pelo seu perfil dando a conhecer o seu negócio.
    <p/>
    <p>
        Utilize o CityRoots como meio de divulgação dos seus eventos e promoções através da sua página de perfil ou através do envio de notificações para os smartphones dos utilizadores mais interessados ou curiosos.
    </p>
	<a href="#" class="btn btn-success" role="button">Assinar</a>
</div>
<br/>
<hr/>
<br/>
<div id="premium">
	<h2>Pacote Premium</h2>
    <p>
        Para além de gerir os seus próprios conteúdos relativos a divulgação dos seus serviços, produtos, eventos e promoções, obtenha maior destaque e visibilidade na aplicação. 
    </p>
    <p>
        Poderá assim superar os seus concorrentes graças a esta avançada aplicação de marketing e turismo. Obtenha dados estatísticos relativos a quantidade de visitantes à sua página de perfil e a apreciação deixada pelas pessoas que visitaram o seu estabelecimento.
    </p>
	<a href="#" class="btn btn-success" role="button">Assinar</a>
</div>
<br/>
<hr/>
<br/>
<div id="Extras">
    <h2>Extras</h2>
    <p>
        A subscrição de qualquer pacote anteriormente apresentado não está sujeita a qualquer tipo de fidelização. Poderá alterar ou rescindir a subscrição assim que o desejar. A rescisão implica o pagamento do ano que está a decorrer.
    </p>
    <a href="#" class="btn btn-success" role="button">Assinar</a>
</div>



=======
 <%= stylesheet_link_tag "pricing_table" %>

<div class="page-header">
    <h1>Pacotes <small>Selecione um pacote para começar</small></h1>
</div>


<div class="container">

    <div class="col-xs-12 col-md-3" >
        <div class="panel panel-free">
            <div class="panel-heading">
                <h3 class="panel-title-free"> 
                    Free</h3>
            </div>
            <div class="panel-body">
                <div class="the-price" style="height:76px;">
                    <h1>
                            €0<small>/ano</small>
                    </h1>
                </div>
                <table class="table">
                    <tr>
                        <td>
                            Criação do seu perfil 
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            Georeferênciação do establecimento
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Foto da fachada do establecimento
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                    <a href="pacotes/index#basico" class="btn btn-primary" role="button">Ver mais</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="panel panel-primary">
                <div class="cnrflash">
                <div class="cnrflash-inner">
                    <span class="cnrflash-label">Mais
                        <br>
                        Popular</span>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">
                    Freemium</h3>
            </div>
            <div class="panel-body">
                <div class="the-price" style="height:76px;">
                    <h1>
                            €25<small>/ano</small>
                    </h1>
                </div>
                <table class="table">
                    <tr>
                        <td>
                            Publicação de mais conteudo multimedia
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            Publicação de produtos e serviços
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Publicação de promoções e eventos
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                    <a href="pacotes/index#basico" class="btn btn-primary" role="button">Ver mais</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="panel panel-profissional">
            <div class="panel-heading">
                <h3 class="panel-title-profissional" >
                    Premium</h3>
            </div>
            <div class="panel-body">
                <div class="the-price" style="height:76px;">
                    <h1>
                        €50<small>/ano</small></h1>
                </div>
                <table class="table">
                    <tr>
                        <td>
                            Fazer publicidade
                        </td>
                    </tr>
                    <tr class="active">
                        <td>
                            Dar destaque na aplicação Movel
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Estatisticas
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="pacotes/index#profissional" class="btn btn-primary" role="button">Ver mais</a>
            </div>
        </div>
    </div>        
</div>
    
<div class="jumbotron">
    <h3 class="text-primary">Pacote Básico</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget ante lacus. Suspendisse sed nibh nisi, ut sodales nibh. Sed vulputate fringilla consectetur. Donec eleifend dictum magna eu hendrerit. Donec eleifend dictum magna eu hendrerit. Donec eleifend dictum magna eu hendrerit. Nunc odio arcu, varius sed blandit a, feugiat in quam. Mauris ornare ornare accumsan. Nullam nec dui metus. Aliquam eu quam massa, ac lobortis libero.
</div>
<div class="jumbotron">
    <h3 class="text-primary">Pacote Freemium</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget ante lacus. Suspendisse sed nibh nisi, ut sodales nibh. Sed vulputate fringilla consectetur. Donec eleifend dictum magna eu hendrerit. Donec eleifend dictum magna eu hendrerit. Donec eleifend dictum magna eu hendrerit. Nunc odio arcu, varius sed blandit a, feugiat in quam. Mauris ornare ornare accumsan. Nullam nec dui metus. Aliquam eu quam massa, ac lobortis libero.
</div>
<div class="jumbotron">
    <h3 class="text-primary">Pacote Premium</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget ante lacus. Suspendisse sed nibh nisi, ut sodales nibh. Sed vulputate fringilla consectetur. Donec eleifend dictum magna eu hendrerit. Donec eleifend dictum magna eu hendrerit. Donec eleifend dictum magna eu hendrerit. Nunc odio arcu, varius sed blandit a, feugiat in quam. Mauris ornare ornare accumsan. Nullam nec dui metus. Aliquam eu quam massa, ac lobortis libero.
</div>
>>>>>>> 991ee0e7b2fd2f3972c9c0f512b430469ebb2ad4
