<%= stylesheet_link_tag "pricing_table" %>

<div class="page-header">
  <h1>Pacotes <small>Selecione um pacote para começar</small></h1>
</div>


<div class="container">

  <div class="col-xs-12 col-md-3" >
    <div class="panel panel-free">
      <div class="panel-heading">
        <h3 class="panel-title-free">
          Básico</h3>
      </div>
      <div class="panel-body">
        <div class="the-price" style="height:76px;">
          <h1>
            Grátis
          </h1>
        </div>
        <table class="table">
          <tr>
            <td>
              Criação do seu perfil
            </td>
          </tr>
          <tr class="active">
            <td>
              Georeferênciação do establecimento
            </td>
          </tr>
          <tr>
            <td>
              Foto da fachada do establecimento
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <a href="#free" class="btn btn-primary" role="button">Ver mais</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="cnrflash">
        <div class="cnrflash-inner">
                    <span class="cnrflash-label">Mais
                        <br>
                        Popular</span>
        </div>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">
          Profissional</h3>
      </div>
      <div class="panel-body">
        <div class="the-price" style="height:76px;">
          <h1>
            €25<small>/ano</small>
          </h1>
        </div>
        <table class="table">
          <tr>
            <td>
              Publicação de mais conteudo multimedia
            </td>
          </tr>
          <tr class="active">
            <td>
              Publicação de produtos e serviços
            </td>
          </tr>
          <tr>
            <td>
              Publicação de promoções e eventos
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <a href="#freemium" class="btn btn-primary" role="button">Ver mais</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3 col-md-offset-1">
    <div class="panel panel-profissional">
      <div class="panel-heading">
        <h3 class="panel-title-profissional" >
          Premium</h3>
      </div>
      <div class="panel-body">
        <div class="the-price" style="height:76px;">
          <h1>
            €50<small>/ano</small></h1>
        </div>
        <table class="table">
          <tr>
            <td>
              Fazer publicidade
            </td>
          </tr>
          <tr class="active">
            <td>
              Dar destaque na aplicação Movel
            </td>
          </tr>
          <tr>
            <td>
              Estatisticas
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <a href="#premium" class="btn btn-primary" role="button">Ver mais</a>
      </div>
    </div>
  </div>
</div>

<div id="free" class="jumbotron">
  <h3 class="text-primary">Pacote Básico</h3>
  <p>
    Crie de uma forma simples, rápida e gratuita a sua própria página de perfil com a informação essencial sobre o seu negócio.
  </p>
  <p>
    O CityRoots permite à milhões de turistas, através do seu smartphone, consultar os perfis dos melhores pontos de interesse de cada cidade, porque não o seu?
  </p>
  <p>
    Para além de poder consultar as suas informações, os utilizadores do CityRoots podem deixar a sua apreciação pelos seus serviços e produtos e até publicar esses comentários nas diversas redes sociais elevando a notoriedade do seu negócio.
  </p>
  <p>
    As diversas formas de divulgar o seu negócio e a sugestão de caminhos através de um mapa georreferenciado que permite localizar o seu estabelecimento levarão as pessoas até si.
  </p>
</div>
<div id="freemium" class="jumbotron">
  <h3 class="text-primary">Pacote Freemium</h3>
  <p>
    Crie e gere a sua própria página de perfil e insira informações mais específicas sobre os seus produtos e serviços.
  </p>
  <p>
    Insira conteúdos fotográficos para uma melhor perceção e apreciação dos cidadãos e turistas para incentiva-los a viajar pelo seu perfil dando a conhecer o seu negócio.
  </p>
  <p>
    Utilize o CityRoots como meio de divulgação dos seus eventos e promoções através da sua página de perfil ou através do envio de notificações para os smartphones dos utilizadores mais interessados ou curiosos.
  </p>
</div>
<div id="premium" class="jumbotron">
  <h3 class="text-primary">Pacote Premium</h3>
  <p>
    Para além de gerir os seus próprios conteúdos relativos a divulgação dos seus serviços, produtos, eventos e promoções, obtenha maior destaque e visibilidade na aplicação.
  </p>
  <p>
    Poderá assim superar os seus concorrentes graças a esta avançada aplicação de marketing e turismo.
  </p>
  <p>
    Obtenha dados estatísticos relativos a quantidade de visitantes à sua página de perfil e a apreciação deixada pelas pessoas que visitaram o seu estabelecimento.
  </p>
</div>
