<div class="row">
  <div class="col-md-12">
    <h2>Mostre a sua e empresa ao mundo?</h2>
    <div class="row">
      <div class="col-md-5">
        <h4 class="text-muted" style="text-align: justify;">
          Em Portugal a aposta no turismo é cada vez mais um sector forte para comercios de todos os tamanhos. Não perca a oportunidade de se colocar no mapa.
        </h4>
      </div>
      <div class="col-md-5">
        <%= image_tag 'browser.png', :class=>"featurette-image pull-rigth" , :style=>"width:80%;" %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Promova os seus eventos ou os seus produtos</h2>
    <div class="row">
      <div class="col-md-5">
        <%= image_tag 'temas.png', :class=>"featurette-image pull-rigth" , :style=>"width:80%;" %>
      </div>
      <div class="col-md-5">
        <h4 class="text-muted" style="text-align: justify;">
          Na nossa aplicação é possivel você promover as suas ementas, eventos, etc. Esta aplicação tem como objetivo que você promover o seu negocio e isso depende simplesmente de si.
        </h4>
        <ul>
          <li class="text-muted">Pontos de interesse</li>
          <li class="text-muted">Eventos</li>
          <li class="text-muted">Rotas</li>
          <li class="text-muted">Actividades ao ar livre</li>
          <li class="text-muted">Actividades Familiares</li>
          <li class="text-muted">Gastronomia</li>
          <li class="text-muted">Transportes</li>
          <li class="text-muted">Vida noturna</li>
        </ul>
      </div>
    </div>
  </div>
</div>