<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CityRoots</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min", "layout" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv", "respond.min" %>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="">
        <div class="navbar-header col-sm-2">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class=" glyphicon glyphicon-globe"></i> CityRoots</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active first"><a href="#">Home</a></li>
            <li><a href="#about">Pacotes</a></li>
            <li><a href="#about">Parceiros</a></li>
            <li><a href="#about">Galeria</a></li>
            <li><a href="#contact">Contactos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> John Smith  <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Perfil</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Preferências</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-12" style="height:100%">

        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation" style="position:fixed; padding-left:0px;height:100%">
          <nav>
            <UL>
             <li class="var_nav">
                <div class="link_bg" style="width:100%;background:#1ABC9C;"></div>
                <div class="link_title">
                  <div class=icon> 
                  <i class=" glyphicon glyphicon-camera"></i>
                  </div>
                  <a href="#"><span>Pontos de Interesse</span></a>
                </div>
             </li>
             <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                  <div class=icon> 
                  <i class=" glyphicon glyphicon-globe"></i>
                  </div>
                  <a href="#"><span>Rotas e Percursos</span></a>
                </div>
             </li>
             <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                  <div class=icon> 
                  <i class=" glyphicon glyphicon-music"></i>
                  </div>
                  <a href="#"><span>Eventos</span></a>
                </div>
             </li>
             <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                  <div class=icon> 
                  <i class=" glyphicon glyphicon-calendar"></i>
                  </div>
                  <a href="#"><span>Agenda de Eventos</span></a>
                </div>
             </li>
             <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                  <div class=icon> 
                  <i class=" glyphicon glyphicon-signal"></i>
                  </div>
                  <a href="#"><span>Estatísticas</span></a>
                </div>
             </li>
            </UL>
          </nav>
        </div><!--/span-->
        <div class="col-xs-12 col-md-offset-2 col-sm-10" id="body-page">
			    <div class="center_body">
              <ul id="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-home"> </span> Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-camera"> </span> Pontos de Interesse</a></li>
              </ul>
              <%= yield %>
          </div>
        </div><!--/span-->


      </div><!--/row-->

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="offcanvas.js"></script>
    <%= javascript_include_tag "jquery", "bootstrap" %>


	</body>
</html>