<div class="page-header">
    <h1>Novo Ponto de Interesse</h1>
</div>
<%= render 'form' %>
<span style="border-top: none;"><%= link_to 'Voltar', attractions_path ,:class=>"btn btn-default btn-square"%></span>